body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #D8E6EF;
    color: #384B52;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 320px;
    margin: auto;
    padding: 50px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input[type="number"], input[type="date"], button {
    width: 100%; /* Полная ширина контейнера */
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #384B52; /* Измененный контур для всех элементов ввода */
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff; /* Фоновый цвет */
    color: #384B52; /* Цвет текста */
}

input[type="date"]:focus, input[type="number"]:focus {
    outline: none; /* Убрать стандартный контур */
    border-color: #F4BC9B; /* Цвет контура при фокусе */
    box-shadow: 0px 0 0 1px rgba(244, 188, 155, 0.5); /* Тень вокруг элемента */
}

button {
    background-color: #384B52;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #F4BC9B;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.results-table th, .results-table td {
    padding: 8px;
    border: 1px solid #e1e8f0;
    background: #fff;
}

.results-table th {
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    input[type="number"], input[type="date"], button {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    input[type="number"], input[type="date"], button {
        font-size: 18px;
    }
}
